.subscribe_inner {
  position: relative;
  height: 420px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background: #fa7436;
  border-radius: 16px;
  background-image: url("/trees.png");
  background-position: 99% 5%;
  background-repeat: no-repeat;
  margin-bottom: -210px;
}

@media (max-width: 767px) {
  .subscribe_inner {
    height: 380px;
    padding: 25px;
    gap: 40px;
    margin-bottom: -190px;
  }
}

@media (max-width: 300px) {
  .subscribe_inner {
    height: auto;
  }
}

.subscribe_inner h3 {
  width: 100%;
  max-width: 700px;
  font-weight: 500;
  font-size: 55px;
  font-family: "Volkhov";
  line-height: 65px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 991px) {
  .subscribe_inner h3 {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .subscribe_inner h3 {
    font-size: 38px;
  }
}

@media (max-width: 567px) {
  .subscribe_inner h3 {
    font-size: 24px;
    line-height: 40px;
  }
}

.subscribe_inner form {
  width: 100%;
  max-width: 700px;
  height: 70px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 10px;
}

@media (max-width: 567px) {
  .subscribe_inner form {
    padding: 30px 20px;
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
}

.subscribe_inner form .form_action {
  flex: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 567px) {
  .subscribe_inner form .form_action {
    display: block;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #eeeeee;
  }
}

.subscribe_inner form .form_action label {
  display: flex;
  align-items: center;
  color: #999999;
  transition: all 0.5s ease;
}

@media (max-width: 567px) {
  .subscribe_inner form .form_action label {
    display: none;
  }
}

.subscribe_inner form:focus-within .form_action label {
  color: var(--primary-color);
}

.subscribe_inner form .form_action input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

@media (max-width: 567px) {
  .subscribe_inner form .form_action input {
    width: 100%;
  }
}

.subscribe_inner form .form_action input::placeholder {
  color: #999999;
}

.subscribe_inner form button {
  width: 130px;
  height: 50px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  box-shadow: 0 0 2px var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@media (max-width: 567px) {
  .subscribe_inner form button {
    width: 150px;
    height: 45px;
  }
}

.subscribe_inner form button:hover {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px var(--primary-color);
  color: var(--primary-color);
}

.footer {
  padding-top: 280px;
  background: #edeef2;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 270px;
  }
}

.footer_main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 50px;
}

@media (max-width: 991px) {
  .footer_main {
    flex-direction: column;
  }
}

.footer_main .footer_left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 991px) {
  .footer_main .footer_left {
    align-items: center;
  }
}

.footer_main .footer_left .logo_wrapper {
  max-width: 140px;
}

@media (max-width: 991px) {
  .footer_main .footer_left .logo_wrapper {
    max-width: 180px;
  }
}

@media (max-width: 567px) {
  .footer_main .footer_left .logo_wrapper {
    max-width: 150px;
  }
}

.footer_main .footer_left p {
  max-width: 250px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}

@media (max-width: 991px) {
  .footer_main .footer_left p {
    font-size: 22px;
    max-width: 620px;
    text-align: center;
    font-weight: 400;
  }
}

@media (max-width: 567px) {
  .footer_main .footer_left p {
    font-size: 18px;
  }
}

.footer_main .footer_left .socials_list {
  display: flex;
  gap: 10px;
}

.footer_main .footer_left .socials_list li a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.footer_main .footer_left .socials_list li:nth-child(1) a {
  color: #4267b2;
}

.footer_main .footer_left .socials_list li:nth-child(2) a {
  color: #d52e83;
}

.footer_main .footer_left .socials_list li:nth-child(3) a {
  color: #1da1f2;
}

@media (min-width: 992px) {
  .footer_main .footer_left .socials_list li a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.footer_main .footer_right {
  max-width: 600px;
  flex: 1;
}

@media (max-width: 991px) {
  .footer_main .footer_right {
    margin: auto;
    width: 100%;
  }
}

.footer_main .footer_right .footer_links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 676px) {
  .footer_main .footer_right .footer_links {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer_main .footer_right .footer_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer_main .footer_right .footer_links h3 {
  font-weight: 600;
  font-size: 18px;
  color: #222222;
  margin-bottom: 25px;
}

@media (max-width: 676px) {
  .footer_main .footer_right .footer_links h3 {
    text-align: center;
  }
}

.footer_main .footer_right .footer_links li {
  font-weight: 400;
  font-size: 18px;
  color: #666666;
}

.footer_main .footer_right .footer_links li:not(:last-child) {
  margin-bottom: 15px;
}

.footer_main .footer_right .footer_links li a:hover {
  color: var(--primary-color);
}

.footer .copyright {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid rgba(153, 153, 153, 0.56);
}

.footer .copyright p {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

@media (max-width: 567px) {
  .footer .copyright p {
    font-size: 14px;
  }
}
