.informations {
  background-color: #f7f8fc;
}

.informations .informations_inner ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 991px) {
  .informations .informations_inner ul {
    max-width: 700px;
    margin: auto;
    grid-template-columns: 1fr;
  }
}

.informations .informations_inner ul li {
  padding: 40px;
  background: #ffffff;
  box-shadow: 14px 24px 72px rgba(102, 102, 102, 0.1);
  border-radius: 8px;
}

@media (max-width: 991px) {
  .informations .informations_inner ul li {
    text-align: center;
  }
}

.informations .informations_inner ul li .image_wrapper {
  width: 50px;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .informations .informations_inner ul li .image_wrapper {
    margin: 0 auto 20px;
  }
}

.informations .informations_inner ul li h3 {
  color: #222222;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}

.informations .informations_inner ul li p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
