.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  animation: opacity-up 0.3s ease;
}

@keyframes opacity-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
